*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Righteous', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(/public/assets/images/fundo.jpg);
  background-position: center;
  background-size: cover;  

}

.card{
  width: 150px;
  height: 225px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform .5s;
  border: 3px solid #daa520;
  border-radius: 20px;

}
.card_front, .card_back{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
  backface-visibility: hidden;
  
}
.flip{
  transform: rotateY(180deg);
}

.card_front{
  transform: rotateY(180deg);
  background-image: url(/public/assets/images/wallpaper.jpg);
  background-size: cover;   
  
}
.card_back{

  background-color: black;
  background-image: url(/public/assets/images/Capa.jpg);
  background-size: cover;
  background-position: center;

}
.card_front img {
  width: 90%;
  height: 90%;
  border-radius: 20px;
  object-fit: contain;
  object-position: center;
}

.card_back img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  
}
#gameOver {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  font-size: 50px;
  
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;
  
}
#restart{
  padding: 20px;
  font-size: 20px;
  background-color: yellow;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}
#gameBoard{
  max-width: 1800px;
  display: grid;  
  grid-template: 1fr 1fr 1fr /  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;  
  gap: 15px;
  left: 0;
  
}